html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

canvas {
  display: block;
}

#ui {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

button {
  font-size: 18px;
  padding: 12px;
  margin: 4px;
}